;; Assumes dvorak iulm layout
;; all keycodes https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys.clj#L60
;; keycodes again: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/CHANGELOG.org#032---2020-05-28
;; rule [:period ["period-mode" 1] nil {:afterup ["period-mode" 0] :alone :period}]
{
 :profiles
 {:Default {:default true
            :sim     35
            :delay   50
            :alone   120
            :held    0}},
 :templates {:open "open \"%s\""}
 :main [
        {:des "caps to delete"
        :rules [
                [:caps_lock :delete_or_backspace]
        ]}

        {:des "swap : and ; on dvorak"
         :rules [
                 [:z :!Rz] [:!Rz :z]
        ]}

        {:des "Shift -> () or Shift"
        :rules [
                [:##left_shift :left_shift nil {:alone :!S9} ]
                [:##right_shift :right_shift nil {:alone :!S0} ]
        ]}

        {:des "[, .] -> ` and [. p] -> ~"
         :rules [
                 [[:e :r] :grave_accent_and_tilde]
                 [[:w :e] :!Sgrave_accent_and_tilde]
        ]}

        {:des "[backspace t] -> the_"
         :rules [
                 [[:delete_or_backspace :k] [:k :j :d :spacebar]]
        ]}

        {:des "[g c] -> cmd-opt-leftArrow` [c r] -> cmd-opt-rightArrow"
         :rules [
                 [[:u :i] [:!QEleft_arrow]]
                 [[:i :o] [:!QEright_arrow]]
                 [[:m :comma] [:!Qtab]]
                 [[:comma :period] [:!Qgrave_accent_and_tilde]]
        ]}

 ] ;; /main
} ;; /profiles
