;; Assumes dvorak iulm layout
;; all keycodes https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys.clj#L60
;; keycodes again: https://github.com/yqrashawn/GokuRakuJoudo/blob/master/CHANGELOG.org#032---2020-05-28
;; good exmaple file https://gist.github.com/kaushikgopal/ff7a92bbc887e59699c804b59074a126
;; rule [:period ["period-mode" 1] nil {:afterup ["period-mode" 0] :alone :period}]
{
 :profiles
 {:Default {:default true
            :sim     35
            :delay   50
            :alone   120
            :held    0}},
 :templates {:open "open \"%s\""}
 :devices {
         :kyria [ {:vendor_id 65261} ]
         :apple [ {:vendor_id 1452} ]
 }
 :applications {
         :javaapp ["^com\\.install4j"]
 }
 :main [
        {:des "swap ctrl cmd java apps"
         :rules [ :javaapp [:left_command :left_control] ]
        }

        {:des "caps to delete"
        :rules [ :apple [:caps_lock :delete_or_backspace] ]
        }

        {:des "swap : and ; on dvorak"
         :rules [ [:z :!Rz] [:!Rz :z] ]
        }

        {:des "Shift -> () or Shift"
        :rules [ :apple
                [:##left_shift :left_shift nil {:alone :!S9}]
                [:##right_shift :right_shift nil {:alone :!S0}]
        ]}

        {:des "[, .] -> ` and [. p] -> ~"
         :rules [
                 [[:e :r] :grave_accent_and_tilde]
                 [[:w :e] :!Sgrave_accent_and_tilde]
        ]}

        {:des "[g c] -> cmd-opt-leftArrow` [c r] -> cmd-opt-rightArrow"
         :rules [
                 [[:m :comma] [:!QEleft_arrow]]
                 [[:comma :period] [:!QEright_arrow]]
                 [[:x :c] [:!Qtab]]
                 [[:c :v] [:!Qgrave_accent_and_tilde]]
        ]}

 ] ;; /main
} ;; /profiles
