[user]
  name = Wayne Hoover
  email = w@waynehoover.com
[includeIf "gitdir:~/net/"]
  path = .gitconfig-net
[core]
  excludesfile = ~/.dotgitignore
[credential]
  helper = osxkeychain
[alias]
  amend = !git add -A && git commit --amend --no-edit
  p = !git push origin $(git rev-parse --abbrev-ref HEAD)
  pl = !git pull
  c = "!git add -A && git commit -m "
  cc = "!git commit --amend -m "
  co = !git checkout
  s = !git status
  d = !git diff
[web]
  browser = open
[pull]
	rebase = false
[http]
	sslVerify = true
